.productListTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 32px;
}

.productListTable th,
.productListTable td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center; /* Горизонтальне вирівнювання */
  vertical-align: middle; /* Вертикальне вирівнювання */
}

.productListTable th {
  font-weight: bold;
}

.product-image {
  width: 30px;
  height: auto;
  cursor: pointer;
}
